<button (click)="addFormOpened = !addFormOpened">{{addFormOpened?'Вернуться':'Добавить'}}</button>
<br/>
<span *ngIf="errMessage">{{errMessage}}</span><br/>
<div *ngIf="addFormOpened" class="container addForm">
  <label>Самолёт<br/>
    <input required="true" type="text" #newAircraft/>
  </label><br/>
  <label>Время вылета<br/>
    <input required="true" type="date" #newFlightDepDate/>
    <input required="true" type="time" #newFlightDepTime>
  </label><br/>
  <label>Время прилета<br/>
    <input required="true" type="date" #newFlightArrDate/>
    <input required="true" type="time" #newFlightArrTime>
  </label><br/>
  <label>Аэропорт вылета<br/>
    <input list="loc" required="true" type="text"  #newFlightDep>
  </label><br/>
  <label>Аэропорт прилёта<br/>
    <input required="true" type="text" list="loc" #newFlightArr>

  </label><br/>
  <label> <button (click)="
  newAircraft.checkValidity()&&newFlightDepDate.checkValidity()&&newFlightDepTime.checkValidity()&&
  newFlightArrDate.checkValidity()&&newFlightArrTime.checkValidity()&&newFlightDep.checkValidity()&&newFlightArr.checkValidity()&&
  addNew(newAircraft.value, newFlightDepDate.value, newFlightDepTime.value,
  newFlightArrDate.value, newFlightArrTime.value, newFlightDep.value, newFlightArr.value)">Добавить</button></label>
</div>
<datalist id="loc">
  <option *ngFor="let punct of puncts">
    {{punct}}
  </option>
</datalist>
<table *ngIf="!addFormOpened">
  <tr>
    <th style="width: 20px">id</th>
    <th>Самолёт</th>
    <th colspan="2">Время вылета</th>
    <th colspan="2">Время прилета</th>
    <th colspan="2">Актуальное время вылета</th>
    <th colspan="2">Актуальное время прилета</th>
    <th>Аэропорт вылета</th>
    <th>Аэропорт прилёта</th>
    <th>Статус</th>
    <th></th>
  </tr>
  <tr *ngFor="let flight of allflights">
    <td>{{flight.id}}</td>
    <td><label>
      <input type="text" #aircraft [value]="flight.aircraft" (change)="setAircraft(aircraft.value,flight)"/>
    </label></td>
    <td><label>
      <input #depdate type="date"  [valueAsDate]="flight.deptime" (change)="setDate(depdate.value, flight.deptime)">
    </label></td>
    <td><label>
      <input #deptime type="time" [valueAsNumber]="flight.deptime" (change)="setTime(deptime.value, flight.deptime)">
    </label></td>
    <td><label>
      <input #arrdate type="date"  [valueAsDate]="flight.arrtime" (change)="setDate(arrdate.value, flight.arrtime)">
    </label></td>
    <td><label>
      <input #arrtime type="time" [valueAsNumber]="flight.arrtime" (change)="setTime(arrtime.value, flight.arrtime)">
    </label></td>
    <td><span *ngIf="flight.actualDeptime">
     <label>
      <input #actual_depdate type="date"  [valueAsDate]="flight.actualDeptime" (change)="setDate(actual_depdate.value, flight.actualDeptime)">
    </label>
    </span></td>
    <td><span *ngIf="flight.actualDeptime">
     <label>
      <input #actual_deptime type="time"  [valueAsNumber]="flight.actualDeptime" (change)="setTime(actual_deptime.value, flight.actualDeptime)">
    </label>
    </span></td>
    <td><span *ngIf="flight.actualArrtime">
     <label>
      <input #actual_arrdate type="date"  [valueAsDate]="flight.actualArrtime" (change)="setDate(actual_arrdate.value, flight.actualArrtime)">
    </label>
    </span></td>
    <td><span *ngIf="flight.actualArrtime">
     <label>
      <input #actual_arrtime type="time"  [valueAsNumber]="flight.actualArrtime" (change)="setTime(actual_arrtime.value, flight.actualArrtime)">
    </label>
    </span></td>
    <td><label>
      <input #dep list="loc" [value]="flight.dep" type="text" (change)="setDep(dep.value,flight)"/>

    </label></td>
    <td><label>
      <input list="loc" type="text" #arr [value]="flight.arr" (change)="setArr(arr.value,flight)">
    </label></td>
    <td>
      <label>
        <select [value]="flight.status" #status (change)="setStatus(status.value, flight)">
          <option>scheduled</option>
          <option>delayed</option>
          <option>departed</option>
          <option>in air</option>
          <option>expected</option>
          <option>diverted</option>
          <option>recovery</option>
          <option>landed</option>
          <option>arrived</option>
          <option>cancelled</option>
        </select>
      </label>
    </td>
    <td><button (click)="delete(flight.id)"> Удалить</button>
      <button (click)="change(flight)">Изменить</button></td>
  </tr>
</table>
