<button (click)="addFormOpened = !addFormOpened">{{addFormOpened?'Вернуться':'Добавить'}}</button>

<div *ngIf="addFormOpened" class="container addForm">
  <label>id<br/>
    <input required="true" type="text" pattern="^[a-zA-Z0-9]+$" maxlength="5" minlength="5" #newId/>
  </label><br/>
  <label>Название<br/>
    <input required="true" type="text" #newAirName/>
  </label><br/>
  <label>Модель<br/>
    <input required="true"type="text" #newAircraftModel/>
  </label><br/>
  <label>Компания<br/>
    <input required="true" type="text" #newAircraftCompany/>
  </label><br/>
 <label> <button (click)="newId.checkValidity()&&newAirName.checkValidity()&&newAircraftModel.checkValidity()&&newAircraftCompany.checkValidity()&&
 addNew(newId.value,newAirName.value, newAircraftCompany.value, newAircraftModel.value)">Добавить</button></label>
</div>
<table *ngIf="!addFormOpened">
  <tr>
  <th>id</th>
  <th>model</th>
  <th>company</th>
  <th>location</th>
    <th></th>
  </tr>
  <tr *ngFor="let aircraft of aircrafts">
    <td>{{aircraft.id}}</td>
    <td><label>
      <input type="text" #model [value]="aircraft.aircraftmodel" (change)="setModel(model.value,aircraft)"/>
    </label></td>
    <td><label>
      <input type="text" #company [value]="aircraft.company" (change)="setCompany(company.value,aircraft)"/>
    </label></td>
    <td>{{aircraft.location}}</td>
    <td style="width: 150px">
    <button (click)="delete(aircraft.id)">Удалить</button>
    <button (click)="change(aircraft)">Изменить</button></td>
  </tr>
</table>
