<button [hidden]="sheduleOpened" (click)="addFormOpened = !addFormOpened">{{addFormOpened?'Вернуться':'Добавить'}}</button>
<br/>
<span *ngIf="errMessage">{{errMessage}}</span><br/>
<div *ngIf="addFormOpened" class="container addForm">
  <label>Паспорт<br/>
    <input type="text" pattern="^[0-9]+$" maxlength="10" minlength="10"  #newPassport/>
  </label><br/>
  <label>Имя<br/>
    <input required="true" type="text" #newName/>
  </label><br/>
  <label>Фамилия<br/>
    <input required="true" type="text" #newSurname/>
  </label><br/>
  <label>Отчество<br/>
    <input required="true"  type="text" #newPathronymic/>
  </label><br/>
  <label>Должность<br/>
    <input required="true" type="text" #newPosition/>
  </label><br/>
  <label>Компания<br/>
    <input required="true" type="text" #newCompany/>
  </label><br/>
  <label> <button (click)="newName.checkValidity()&&newSurname.checkValidity()&&newPathronymic.checkValidity()&&newPathronymic.checkValidity()&&newPosition.checkValidity()&&newCompany.checkValidity()&&
  newPassport.checkValidity()&&addNewEmpl(newPassport.value,newName.value,newSurname.value, newPathronymic.value, newPosition.value, newCompany.value)">Добавить</button></label>
</div>
<table *ngIf="!addFormOpened" [hidden]="sheduleOpened">
  <tr>
    <th>Паспорт</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Отчество</th>
    <th>Должность</th>
    <th>Компания</th>
    <th></th>
  </tr>
<tr *ngFor="let emp of employeers">
  <td>{{emp.passport}}</td>
  <td><label>
    <input type="text" #name [value]="emp.name" (change)="setName(name.value,emp)"/>
  </label></td>
  <td><label>
    <input type="text" #surname [value]="emp.surname" (change)="setSurname(surname.value,emp)"/>
  </label></td>
  <td><label>
    <input type="text" #pathronymic [value]="emp.pathronymic" (change)="setPathronymic(pathronymic.value,emp)"/>
  </label></td>
  <td><label>
    <select #position [value]="emp.position" (change)="setPosition(position.value,emp)">
      <option>reception</option>
      <option>gate</option>
    </select>
  </label></td>
  <td><label>
    <input type="text" #company [value]="emp.company" (change)="setCompany(company.value,emp)"/>
  </label></td>
  <td style="width: 250px">
    <button (click)="delete(emp.passport)">Удалить</button>
    <button (click)="change(emp)">Изменить</button>
    <button *ngIf="emp.position!=2" (click)="openSchedule(emp)">Расписание</button>
  </td>
</tr>
</table>

<app-lend-shedule-control *ngIf="sheduleOpened"></app-lend-shedule-control>
<button *ngIf="sheduleOpened" (click)="sheduleOpened=false"> Отменить</button>
