 <button [routerLink]="['/login']">
    Выйти
  </button><br/>
 <span>{{passport}}</span>
 <div class="container" *ngIf="!selectedFlight">
  <table>
    <tr>
      <th>Полет</th>
      <th>Стойка</th>
      <th>Начало</th>
      <th>Конец</th>
    </tr>
    <tr *ngFor="let work of schedule">
      <td>{{work.flight}}</td>
      <td>{{work.gate}}</td>
      <td>{{work.start.toLocaleDateString()}} {{work.start.toLocaleTimeString()}}</td>
      <td >{{work.finish.toLocaleDateString()}} {{work.finish.toLocaleTimeString()}}</td>
      <td><button (click)="selectedFlight = work.flight">{{isReg?'Преступить к регистрации':'Начать посадку'}}</button></td>
    </tr>
  </table>
  </div>
 <div class="container" *ngIf="selectedFlight">
   <app-registration [flight]="selectedFlight" *ngIf="isReg"></app-registration>
   <app-landing [flight]="selectedFlight" *ngIf="!isReg"></app-landing>
 </div>


