label, button,span{
  float: right;
}
label, span{
  padding: 5px 3px;
}

span{
  width:max-content;
  float: inherit;
}

 .container{
   margin: auto;
  text-align: center;
  padding: 5px 5px;
   width: max-content;
   height: max-content;
   overflow: auto;
}
