<div class="regform container">

  <label> Номер паспорта:
    <input type="text" [ngModel]="passenger.passport_no" (change)="passport.checkValidity() && setPassport(passport.value)" #passport pattern="^[0-9]+$" maxlength="10" minlength="10" >
  </label>
  <br/>
  <div *ngIf="passenger&&passenger.status!='null'">Оплаченный вес багажа, кг:
    {{passenger.max_weight}}
 <br/>
  <label>Вес багажа, кг:
    <input type="text" pattern="^[0-9]*[.,]?[0-9]+$" #total (change)="setTotalWeight(total.value)" [(ngModel)]="passenger.total_weight">
  </label>

  <br/>
    <span *ngIf="overWeight>0">
      Перевес: {{overWeight}}
    </span>
   <br/>
  </div>
  <span *ngIf="passenger&&passenger.baggageStatus=='null'">Багажа нет</span>

  <button (click)="toRegistrate()">Зарегистрировать</button>
</div>
