<button [routerLink]="['/main']">Вернуться</button><br/>
<span *ngIf="errMessage">{{errMessage}}</span><br/>
<div> Полёт: {{book.depAirport}}-{{book.arrAirport}}, {{book.depTime.toLocaleString()}} - {{book.arrTime.toLocaleString()}}</div><br/>

<div class="container">

  <br/>
  <form>
    <div class="passengers">
      <div class="passenger" *ngFor="let p of book.passengers">
        <label> Паспорт:
          {{p.passport_no}}
        </label><br/>
        <label> Фамилия:
      {{p.second_name}}
        </label><br/>
        <label> Имя:
        {{p.name}}
        </label><br/>
        <label>Отчество:
          {{p.third_name}}
        </label><br/>
        <span> Место:
          <select disabled #seat [value]="p.seat" (change)="setSeat(p,seat.value)">
            <option>economy</option>
            <option>business</option>
          </select>
        </span><br/>
        <span >Вес багажа
          <input readonly [value]="p.max_weight"  type="text" pattern="^[0-9]*[.,]?[0-9]+$" #baggage (change)="setBaggage(p,baggage.value)"/>
        </span><br/>
        <span>Комната ожидания
          <select disabled [value]="p.waitingRoom"  #room (change)="setRoom(p,room.value)">
            <option>middle</option>
            <option>comfort</option>
            <option>comfort+</option>
          </select>
          <br/><br/>
        </span><br/>
<!--        <button (click)="change(p)">Изменить данные</button>-->
<!--        <button (click)="delete(p)">Удалить пассажира</button>-->
      </div>
    </div>
    <br/>
    <div class="forspan">
      <div>Контактная информация<br/>
        <textarea readonly [value]="book.contact"  (blur)="setContact(contact.value)" #contact></textarea><br/>
      </div><br/>
    </div>
  </form>
  <br/>
  Цена: {{book.amount}}
</div>
