<button [routerLink]="['/main']">Вернуться</button><br/>

<div class="container">
  <div *ngIf="errMessage">{{errMessage}}</div><br/>
  <div *ngIf="book.depTime&&book.arrTime"> Полёт: {{book.depAirport}}-{{book.arrAirport}}, {{book.depTime.toLocaleString()}} - {{book.arrTime.toLocaleString()}}</div><br/>

  <br/>
  <form>
    <div class="passengers">
      <div class="passenger" *ngFor="let p of book.passengers">
        <label> Фамилия:
      {{p.personalData.lastName}}
        </label><br/>
        <label> Имя:
        {{p.personalData.name}}
        </label><br/>
        <label>Отчество:
          {{p.personalData.middleName}}
        </label><br/>
        <span> Место:
          {{p.seat}}
        </span><br/>
        <span >Вес багажа:
          {{p.max_weight}}
        </span><br/>
        <span>Комната ожидания:
          {{p.waitingRoom}}
          <br/><br/>
        </span><br/>
      </div>
    </div>
    <br/>
    <div class="forspan">
      <div>Контактная информация<br/>
        {{book.contact}}
      </div><br/>
    </div>
  </form>
  <br/>
  Цена: {{book.amount}}
</div>
