<button [routerLink]="['/main']">Вернуться</button><br/>

Полёт: {{flight.id}}<br/>

<div class="container">

  <br/>
  <form>
    <div class="passengers">
      <div class="passenger" *ngFor="let p of passengers">
        <label> Паспорт:
          {{p.passport_no}}
        </label><br/>
        <label> Фамилия:
      {{p.second_name}}
        </label><br/>
        <label> Имя:
        {{p.name}}
        </label><br/>
        <label>Отчество:
          {{p.third_name}}
        </label><br/>
        <label> Дата рождения:
          {{p.birthday.toLocaleDateString()}}
        </label><br/>
        <span> Место:
          <select #seat (change)="setSeat(p,seat.value)">
            <option>economy</option>
            <option>business</option>
          </select>
        </span><br/>
        <span >Вес багажа
          <input  type="text" pattern="^[0-9]*[.,]?[0-9]+$" #baggage (change)="setBaggage(p,baggage.value)"/>
        </span><br/>
        <span>Комната ожидания
          <select  #room (change)="setRoom(p,room.value)">
            <option selected>middle</option>
            <option>comfort</option>
            <option>comfort+</option>
          </select>
          <br/><br/>
        </span><br/>
        <button (click)="change(p)">Изменить данные</button>
        <button (click)="delete(p)">Удалить пассажира</button>
      </div>
    </div>
    <br/>
    <div class="forspan">
      <span>Контактная информация<br/>
        <textarea  (change)="setContact(contact.value)" #contact></textarea><br/>
      </span><br/>
    </div>
  </form>
  <br/>
  Цена: {{book.amount}}
</div>
